@font-face {
       font-family: 'sanchezregular';
       src: url('./fonts/sanchez-regular-webfont.woff2') format('woff2'),
            url('./fonts/sanchez-regular-webfont.woff') format('woff'),
            url('./fonts/sanchez-regular-webfont.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
   
   }
   body {
       font-family: "sanchezregular" !important;
       background-color: #111;
       margin: 0;
       padding: 0;
   }
   .home-container {
       width: 100%;
       height: 100vh;
       display: flex;
       flex-direction: column;
   }
   .nav-container{
       display: flex;
       width: fit-content;
       align-items: flex-end;
       justify-content: end;
       text-align: right;
       position: fixed;
       top: 0;
       z-index: 999;
       right: 5%;
   }
   .link{
       color: #fff;
       margin-right: 1em;
       margin-left: 1em;
       text-align: right;
   }
   .link:hover {
       color: rgb(233, 0, 182);
       text-shadow: 1px 1px 6px rgb(233, 0, 182);
   }
   .home-text-container {
       width: 100%;
       height: 100%;
       position: relative;
   }
   .video {
       width: 100%;
       height: 100%;
       z-index: 9;
       object-fit: cover;
   }
   .home-text-background {
       width: 45%;
       height: 100%;
       background-color: #111;
       position: absolute;
       color: #fff;
       padding-left: 1em;
   }
   .home-text {
       position: absolute;
       right: -10%;
       top: 35%;
       font-size: 3em;
   }
   .home-bio-name {
       z-index: 99;
       text-align: right;
       display: inline;
   }
   .comma {
       display: inline;
       font-size: 1.5em;
       color: rgb(5, 124, 221);
   }
   
   .text-hr {
       width: 100%;
       height: 2px;
       background-color: rgb(4, 0, 233);
       margin-left: auto;
   }
   @keyframes scrollbar {
       0%{
           height: 25%;
       }
       50%{
           height: 0%;
       }
       100%{
           height: 25%;
       }
   }
   .home-scrollbar {
       width: 3px;
       height: 25%;
       background-color: #fff;
       position: absolute;
       bottom: 1%;
       right: 3%;
       border-radius: 10px;
       animation: scrollbar 5s ease;
       animation-iteration-count: infinite;
       transition: 0.3s ease;
   }
   .home-scrollbar:hover {
       background-color: rgb(233, 0, 182);
       transition: 0.3s ease;
       cursor: pointer;
   }
   .about-container {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          color: #fff;
          font-size: 3em;
   }
   .about-bio-container{
       width: 100%;
       display: flex;
       align-items: center;
       height: 60vh;
       background: url("./images/me.png");
       background-position: center top;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-color: rgb(35, 23, 255);
       padding-bottom: 5%;
       padding-top: 3%;
   }
   .about-head-container {
          font-size: 3em;
          animation: blink-text 5s ease;
          animation-iteration-count: infinite;
          animation-delay: 3s;
   }
   @keyframes blink-text {
          0%{
              text-shadow: 1px 1px 14px rgb(233, 0, 182);
              color: #fff;
          }
          50%{
                 text-shadow: none;
                 color: rgb(32, 32, 32);
          }
          75%{
              text-shadow: 1px 1px 14px rgb(233, 0, 182);
              color: #fff;
          }
          100%{
              text-shadow: none;
              color: rgb(32, 32, 32);
       }
   }
.bio-text {
       width: 50%;
       font-size: 0.5em;
       margin-left: auto;
}
.skills-head {
       color: #fff;
       font-weight: 500;
       text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.842);
       font-size: 2em
}
   