@font-face {
       font-family: 'sanchezregular';
       src: url('./fonts/sanchez-regular-webfont.woff2') format('woff2'),
            url('./fonts/sanchez-regular-webfont.woff') format('woff'),
            url('./fonts/sanchez-regular-webfont.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
   
   }
   body {
       font-family: "sanchezregular" !important;
       background-color: #111;
       margin: 0;
       padding: 0;
   }
   .home-container {
       width: 100%;
       height: 100vh;
       display: flex;
       flex-direction: column;
   }
   .nav-container{
       display: flex;
       width: fit-content;
       align-items: flex-end;
       justify-content: end;
       text-align: right;
       position: fixed;
       top: 3%;
       z-index: 999;
       right: 5%;
   }
   .link{
       color: #fff;
       margin-right: 1em;
       margin-left: 1em;
       text-align: right;
       font-weight: bold;
       letter-spacing: 3px;
   }
   .link:hover {
       color: rgb(233, 0, 182);
       text-shadow: 1px 1px 6px rgb(233, 0, 182);
       cursor: pointer;
   }
   .home-text-container {
       width: 100%;
       height: 100%;
       position: relative;
   }
   .video {
       width: 100%;
       height: 100%;
       z-index: 9;
       object-fit: cover;
   }
   .home-text-background {
       width: 45%;
       height: 100%;
       background-color: #111;
       position: absolute;
       color: #fff;
       padding-left: 1em;
   }
   .home-text {
       position: absolute;
       right: -10%;
       top: 35%;
       font-size: 3em;
   }
   .home-bio-name {
       z-index: 99;
       text-align: right;
       display: inline;
   }
   .comma {
       display: inline;
       font-size: 1.5em;
       color: rgb(5, 124, 221);
   }
   
   .text-hr {
       width: 100%;
       height: 2px;
       background-color: #111;
       margin-left: auto;
   }
   @keyframes scrollbar {
       0%{
           height: 25%;
       }
       50%{
           height: 0%;
       }
       100%{
           height: 25%;
       }
   }
   .home-scrollbar {
       width: 3px;
       height: 25%;
       background-color: #fff;
       position: absolute;
       bottom: 1%;
       right: 3%;
       border-radius: 10px;
       animation: scrollbar 5s ease;
       animation-iteration-count: infinite;
       transition: 0.3s ease;
   }
   .home-scrollbar:hover {
       background-color: rgb(233, 0, 182);
       transition: 0.3s ease;
       cursor: pointer;
   }
   .about-container {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          color: #fff;
          font-size: 3em;
   }
   .about-bio-container{
       width: 100%;
       display: flex;
       align-items: center;
       height: 60vh;
       background: url("./images/me.png");
       background-position: center top;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-color: #111;
       padding-bottom: 5%;
       padding-top: 3%;
   }
   .about-head-container {
          font-size: 3em;
          animation: blink-text 5s ease;
          animation-iteration-count: infinite;
          animation-delay: 3s;
   }
   @keyframes blink-text {
          0%{
              text-shadow: 1px 1px 14px rgb(233, 0, 182);
              color: #fff;
          }
          50%{
                 text-shadow: none;
                 color: rgb(32, 32, 32);
          }
          75%{
              text-shadow: 1px 1px 14px rgb(233, 0, 182);
              color: #fff;
          }
          100%{
              text-shadow: none;
              color: rgb(32, 32, 32);
       }
   }
.bio-text {
       width: 50%;
       font-size: 0.5em;
       margin-left: auto;
}
.skills-head {
       color: #fff;
       font-weight: 500;
       text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.842);
       font-size: 2em
}
.port-head {
       color: #fff;
       font-size: 3em;
       margin-left: 3%;
}
.portfolio-container {
       width: 100%;
       height: auto;
}
.portfolio-head-container {
       font-size: 1.5em;
       color: #fff;
       margin-left: 3%;
}
.project-container {
       width: 100%;
       display: flex;
       justify-content: space-evenly;
}
.project-btn-container{
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: space-around;
       flex-direction: column;
}
#project-one {
       background: url("./images/national-park-api.png");
       background-size: cover;
       width: 33%;
       height: 200px;
}
#project-two {
       background: url("./images/sitting-clean.png");
       background-size: cover;
       width: 33%;
       height: 200px;
}
#project-three {
       background: url("./images/post-poem.png");
       background-size: cover;
       width: 33%;
       height: 200px;
}
.project-btn {
       background-color: #111;
       color: #fff;
       text-decoration: none;
       font-size: 1.2em;
       padding-left: 1em;
       padding-right: 1em;
       padding-top: 0.5em;
       padding-bottom: 0.5em;
       font-family: 'sanchezregular' !important;
       transition: 0.3s ease;
       font-weight: bold;
       letter-spacing: 3px;
}
.project-btn:hover {
       background-color: rgb(233, 0, 182);
       transition: 0.3s ease;
       color: #000;
}
.contact-background {
       width: 100%;
       height: 75vh;
       background-color: rgb(5, 124, 221);
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-top: 5%;
       justify-content: center;
}
.contact-container{
       width: 50%;
       display: flex;
       flex-direction: column;
       margin-left: auto;
       margin-right: auto;
       color: #fff;
       font-weight: bold;
       letter-spacing: 3px;
       height: 50%;
       justify-content: space-between;
}
.form-container {
       display: flex;
       flex-direction: column;
       height: 100%;
       justify-content: space-between;
       color: #fff;
       font-weight: bold;
       letter-spacing: 3px;
}
input, textarea {
       background-color: transparent;
       border: 1px solid #fff;
       font-size: 1.25em;
       color: #fff;
       font-family: "sanchezregular";
}
textarea {
       height: 50%;
}
textarea::placeholder {
       color: #fff;
}
.send {
       border: 1px solid #fff;
       background-color: transparent;
       font-family: 'sanchezregular' !important;
       color: #fff;
       font-size: 1.25em;
       transition: 0.3s ease; 
}
.send:hover {
       color: rgb(233, 0, 182);
       transition: 0.3s ease;
       border: 1px solid rgb(233, 0, 182);
}
.footer{
       color: #fff;
       text-align: center;
}
.icon-container {
       width: 100%;
       display: flex;
}
.fa-github {
       margin-right: 15px;
}
.fa-github:hover {
       color: rgb(233, 0, 182);
       transition: 0.3s ease;
}
.fa-linkedin:hover {
       color: rgb(233, 0, 182);
       transition: 0.3s ease;
}
.icon {
       z-index: 999;
       color: #fff;
}

@media only screen and (max-width: 600px) {
       .mobile-nav-container {
              display: flex;
              width: 100%;
              height: 100vh;
              background-color: #111;
              position: fixed;
              top: 0;
              left: 100%;
              transition: 0.3s ease;
              z-index: 9999;
       }
       .bar-container {
              width: 25%;
              height: 3%;
              position: fixed;
              top: 3%;
              right: 3%;
              z-index: 999;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
       }
       .bar {
              width: 100%;
              height: 1px;
              background-color: #fff;
       }
       .mobile-links-container {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-evenly;
              font-size: 2em;
       }
       .nav-container{
              display: none;
       }
       .about-container {
              width: 100%;
              margin-left: auto;
              margin-right: auto;
              color: #fff;
              font-size: 3em;
       }
       .about-bio-container{
           width: 100%;
           display: flex;
           align-items: center;
           height: 100vh;
           background: url("./images/me.png");
           background-position: center top;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-size: cover;
           background-color: #111;
           padding-bottom: 5%;
           padding-top: 3%;
       }
       .about-head-container {
              animation: blink-text 5s ease;
              animation-iteration-count: infinite;
              animation-delay: 3s;
              font-size: 2em;
       }
       .bio-text {
              width: 95%;
              margin-left: auto;
              margin-right: auto;
              font-size: 0.5em;
       }
       .skills-head {
              color: #fff;
              font-weight: 500;
              text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.842);
              font-size: 2em
       }
       .port-head {
              color: #fff;
              font-size: 3em;
              margin-left: 3%;
       }
       .portfolio-container {
              width: 100%;
              height: auto;
       }
       .portfolio-head-container {
              font-size: 1.5em;
              color: #fff;
              margin-left: 3%;
       }
       .project-container {
              width: 100%;
              display: flex;
              justify-content: space-evenly;
              flex-direction: column;
       }
       #project-one, #project-two, #project-three {
              width: 100%;
       }
       .contact-container{
              width: 95%;
              margin-left: auto;
              margin-right: auto;
              display: flex;
              flex-direction: column;
              margin-left: auto;
              margin-right: auto;
              color: #fff;
              font-weight: bold;
              letter-spacing: 3px;
              height: 75%;
              justify-content: space-between;
       }
       .contact-background {
              width: 100%;
              height: 75vh;
              background-color: rgb(5, 124, 221);
              display: flex;
              align-items: center;
              flex-direction: column;
              margin-top: 0%;
              justify-content: center;
       }
       .home-text-background {
              width: 45%;
              height: 100%;
              background-color: #111;
              position: absolute;
              color: #fff;
              padding-left: 1em;
          }
          .home-text {
              position: absolute;
              left: 3%;
              top: 15%;
              font-size: 3em;
          }
     }